# Node modules
node_modules/
npm-debug.log

# Environment variables
.env

# MacOS hidden files
.DS_Store

# Log files
*.log

# hasil terraform init dan grafana
**/terraform/.terraform/
.terraform/

**/*.tfstate
**/*.tfstate.backup
*.tfstate
*.tfstate.backup

.grafana/